.Nav{
    display: flex;
    color: #2ecc71;
    overflow-x: scroll;
    padding: 10px;
    padding-left: 40px;
}

.Nav::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .Nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .Nav> h2{
      cursor: pointer;
      margin-left: 30px;
      margin-right: 30px;
      font-weight: 500;
       font-size: large;
      opacity: 0.7;
      transition: transform 300ms ease-out;
  }

  .Nav > h2:hover{
      opacity: 1;
      transform: scale(1.1);
  }
